<div class="container text-center pb-4">
    <h1 class="display-5 fw-bold mt-5"> Welcome to QuizApp! </h1>
    <p class="fs-3"> Make your own quiz and share it with your friends! </p>
</div>

<div class="buttons-container">
    <div class="buttons">
        <a href="{% url 'register' %}" class="btn btn-dark btn-lg custom-btn">Register</a>
        <a href="{% url 'login' %}" class="btn btn-dark btn-lg custom-btn">Login</a>
    </div>
</div>

<style>
    .buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh; /* Adjust this value as needed */
    }
    .buttons {
        display: flex;
        justify-content: center;
    }
    .btn {
        margin: 0 10px;
    }
    .custom-btn {
    padding: 20px 40px;
    font-size: 1.5rem;
    font-weight: bold;
}
</style>