<div class="container text-center pb-4">
        
    <h1 class="display-5 fw-bold mt-5"> Welcome to QuizApp! </h1>
    <p class="fs-3"> Make your own quiz and share it with your friends! </p>
    
</div>  
<div class="buttons">
    <div style="display: flex; align-items: center; padding: 0px 0; background-color: rgb(255, 255, 255);">
    <a href="{% url 'register' %}" class="btn btn-dark" style="margin-left: 20px;" >Register</a>
    <a href="{% url 'login' %}" class="btn btn-dark" style="margin-left: 20px;" >Login</a>
    </div>
</div>